@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

body {
    font-family: Sriracha;
    color: #fff;
    background-color: #263238;
}

/* start index */

.main-content {
    min-height: 100vh
}

.tracking-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: auto;
    margin: 0;
}

.trex {
    position: relative;
}

.trex .trex-arm-front,
.trex .trex-arm-back {
    position: absolute;
    transform-origin: 80% 20%;
}

.trex .trex-arm-back {
    top: 110px;
    left: 70px;
}

.trex .trex-arm-front {
    top: 120px;
    left: 80px;
}

.trex .trex-body .trex-eye {
    position: relative;
    top: 39px;
    left: 60px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #e6e6e6;
}

.trex .trex-body .trex-eye:after {
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    top: 5px;
    left: 1px;
    border-radius: 50%;
    background-color: #4d3019;
}

.rotate-arm {
    animation: 1s linear infinite rotate;
    position: relative;
    transform-origin: 50% 100%;
}

.rotate-eye {
    animation: 1s linear infinite rotate;
    position: relative;
    transform-origin: 50% 50%;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg)
    }

    70% {
        transform: rotate(80deg)
    }

    100% {
        transform: rotate(0deg)
    }
}

.neon {
    color: #fff;
    font-size: 5rem;
    font-weight: 400;
    letter-spacing: 8px;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa;
}

.flicker-slow {
    animation: flicker 3s linear infinite;
}

.flicker-fast {
    animation: flicker 1s linear infinite;
}

@keyframes flicker {

    0%,
    19.999%,
    22%,
    62.999%,
    64%,
    64.999%,
    70%,
    100% {
        opacity: 0.99;
    }

    20%,
    21.999%,
    63%,
    63.999%,
    65%,
    69.999% {
        opacity: 0.4;
    }
}

.btn-play {
    font-size: 2rem;
    /* padding: 0 10vw; */
    width: 20rem;
    animation: btn-play 1s linear infinite;
}

@keyframes btn-play {
    0% {
        transform: scale(1);
    }

    40% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

/* end index */

/* start random card */

#cardGame .card {
    position: relative;
    /* margin: 1%; */
    width: 45vh;
    height: 70vh;
    cursor: pointer;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 0.4s ease-out;
    transition: -webkit-transform 0.4s ease-out;
    transition: transform 0.4s ease-out;
    transition: transform 0.4s ease-out, -webkit-transform 0.4s ease-out;
    border-radius: 5px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#cardGame .front,
#cardGame .back {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    border: 2px solid #415661;
    /* box-shadow: -6px -6px 36px 2px rgba(0, 0, 0, 0.15) inset; */
    box-shadow: 0px 0px 20px 0px #0fa;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-size: 100% 100%;
}

#cardGame .front:before,
#cardGame .front:after,
#cardGame .back:before,
#cardGame .back:after {
    content: "";
    position: absolute;
}

#cardGame .front {
    font-size: 35vh;
    word-wrap: break-word;
    background-color: #fff;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
}

#cardGame .back {
    background-color: #415661;
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
    transition: transform .2s;
}

#cardGame .back-font {
    font-size: 5vh !important;
}

#cardGame .is-selected {
    -webkit-transform: translate3d(0, 0, 0) rotateY(180deg);
    transform: translate3d(0, 0, 0) rotateY(180deg);
}

#cardGame .disable-click {
    pointer-events: none;
}

/* end random card */